<a href="https://colab.research.google.com/github/gnrtd/PyPractice/blob/main/13July_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# operators
- arithmetic operators
- +    2 + 2     4
- -    2 - 2     0
- *    2 * 2     4     asterisk
- /    15 / 2    7.5    true division
- //   15 // 2   7      floor division (int)
- %    12 % 7    5      modulo / modulus/ reminder
- **   2 ** 3    8      double asterisk

In [84]:
2 ** 3

8

In [3]:
15 % 3

0

In [4]:
15 / 3

5.0

In [5]:
15 // 4

3

In [8]:
a = ('hello'*2+' '*3)
b = ('hello'*2+' '*3+10)
print(a)
print(b)

TypeError: can only concatenate str (not "int") to str

In [19]:
L = 10
B = 5
A = L * B
print(A)

50

In [20]:
L = input()

Olesia

In [12]:
print(L)

Olesia

In [13]:
L = input()

10

In [15]:
print(10)

10

In [16]:
print(type(L))

<class 'str'>

In [17]:
L = input('Enter value of length ')
B = input('Enter value for breadth ')
A = L * B
print(A)

Enter value of length 10
Enter value for breadth 8

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
#type casting
#conversion of one data type into another
int('23')

23

In [23]:
int('olesia')

ValueError: invalid literal for int() with base 10: 'olesia'

In [24]:
int('45.6')

ValueError: invalid literal for int() with base 10: '45.6'

In [25]:
float('45.6')

45.6

In [26]:
int(45.6)

45

In [27]:
str(4.6)

'4.6'

In [28]:
# explicit type casting - int() float() str()
# implicit - done by python

In [29]:
L = int(input('Enter length '))
B = int(input('Enter breadth '))
a = L * B
print(f'are of rectangle is {a}')

Enter length 10
Enter breadth 9
are of rectangle is 90

In [30]:
'''
calculate the area of circle
 a = pi * r**2
 take r as input in float
 and take pi as constant value 3.14
 the final area must be in integer

'''

'\ncalculate the area of circle\n a = pi * r**2\n take r as input in float\n and take pi as constant value 3.14\n the final area must be in integer\n\n'

In [35]:
pi = 3.14
r = int(input('Enter r'))
a = pi * r**2
print(f'area of circle is {a}')

Enter r4
area of circle is 50.24

In [37]:
r = float(input())
pi - 3.14
area = int(pi * r**2) #to set input date type here
print(f'area is {area}')

4.5
area is 63

In [38]:
print(area)

63

In [ ]:
'''
comparison opeators
7 > 6 True
7 < 7 False
7 >= 7 True
7 <= 9 T
4 != 6 T
3 == 5 F
True + False = 1 + 0 = True
'''

'\ncomparison opeators\n7 > 6 True\n7 < 7 False\n7 >= 7 True\n7 <= 9 T\n4 != 6 T\n3 == 5 F\nTrue + False = 1 + 0 = True\n'

In [39]:
# logical gates and or not
# True False and or not - key words in python
# keywords - reserved words for some special work

In [40]:
True = 1

SyntaxError: cannot assign to True (ipython-input-1770609971.py, line 1)

In [42]:
true = 1

In [43]:
#True False or and not if else lambda is async import from
# some examples of keywords in python

In [44]:
# Data types
# int float str boolean
# list

In [45]:
# collection data types - collection of different types of data
# list , tuple , dictionary , set

In [46]:
# list - ordered collection of different types of items which is mutable
fruits = ['apples','oranges',45,5.7,'x']

In [47]:
print(fruits)

['apples', 'oranges', 45, 5.7, 'x']

In [48]:
print(type(fruits))

<class 'list'>

In [49]:
print(fruits[-1])

x

In [50]:
print(type(fruits[2]))

<class 'int'>

In [51]:
# list methods - for next class

In [52]:
fruits

['apples', 'oranges', 45, 5.7, 'x']

In [53]:
fruits[::]

['apples', 'oranges', 45, 5.7, 'x']

In [54]:
fruits[1::]

['oranges', 45, 5.7, 'x']

In [55]:
fruits[:2:]

['apples', 'oranges']

In [56]:
fruits

['apples', 'oranges', 45, 5.7, 'x']

In [57]:
fruits[::2]

['apples', 45, 'x']

In [80]:
fruits = ['apple', 'banana', 'kiwi', 'chiku', 6, 63, 2]

In [73]:
fruits[:3:]

['apple', 'banana', 'kiwi']

In [74]:
fruits[5:1:-1]

[63, 6, 'chiku', 'kiwi']

In [77]:
fruits[::-1]

[2, 63, 6, 'chiku', 'kiwi', 'banana', 'apple']

In [78]:
fruits = fruits[::-1]

In [79]:
fruits

[2, 63, 6, 'chiku', 'kiwi', 'banana', 'apple']

In [61]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [62]:
tips[:10:]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [63]:
tips[:3:]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [81]:
# all odd index rows 1, 3, 5, 7
tips[1::2]

     total_bill   tip     sex smoker   day    time  size
1         10.34  1.66    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
9         14.78  3.23    Male     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
235       10.07  1.25    Male     No   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
239       29.03  5.92    Male     No   Sat  Dinner     3
241       22.67  2.00    Male    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[122 rows x 7 columns]

In [82]:
tips = tips[::-1]

In [83]:
tips

     total_bill   tip     sex smoker   day    time  size
243       18.78  3.00  Female     No  Thur  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
239       29.03  5.92    Male     No   Sat  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
4         24.59  3.61  Female     No   Sun  Dinner     4
3         23.68  3.31    Male     No   Sun  Dinner     2
2         21.01  3.50    Male     No   Sun  Dinner     3
1         10.34  1.66    Male     No   Sun  Dinner     3
0         16.99  1.01  Female     No   Sun  Dinner     2

[244 rows x 7 columns]