<a href="https://colab.research.google.com/github/gnrtd/PyPractice/blob/main/19Jul_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = ['a', 'b', 'c', 'd', 'e']

In [ ]:
L[1::]

['b', 'c', 'd', 'e']

In [ ]:
# L. - list methods

In [ ]:
# HW learn about all the str methods

In [ ]:
L.append(5)

In [ ]:
L

['a', 'b', 'c', 'd', 'e', 5]

In [ ]:
L.insert(0,'Hi')

In [ ]:
L

['Hi', 'Hi', 1000, 'c', ['a', 'z', 'b'], 'd', 'e']

In [ ]:
# add item btw b and c

In [ ]:
L.insert(3,0)

In [ ]:
L

['Hi', 'a', 'b', 0, 'c', 'd', 'e', 5]

In [ ]:
# delete items

In [ ]:
L.pop()

5

In [ ]:
L

['Hi', 'a', 'b', 0, 'c', 'd', 'e']

In [ ]:
L.pop(2)

'b'

In [ ]:
L

['Hi', 'a', 0, 'c', 'd', 'e']

In [ ]:
L.remove('a')

In [ ]:
L

['Hi', 0, 'c', 'd', 'e']

In [ ]:
# check out all the other list and string methods

In [ ]:
L[1] = 1000

In [ ]:
L

['Hi', 1000, 'c', 'd', 'e']

In [ ]:
L.insert(3, ['a', 'b'])

In [ ]:
L

['Hi', 1000, 'c', ['a', 'b'], 'd', 'e']

In [ ]:
L[3].insert(1,'z')

In [ ]:
L

['Hi', 1000, 'c', ['a', 'z', 'b'], 'd', 'e']

In [ ]:
# conditional operators

In [ ]:
if 2000 > 1000:
  print('discount')
  print('applied')
print('bye')

discount
applied
bye

In [ ]:
if 1000 >= 1000:
  print('discount')
else:
  print('no discount')

discount

In [ ]:
if 3>3:
  print('1')

if 6>3:
  print('true')
else:
  print('a')

true

In [ ]:
n = int(input('Enter the number'))
if n % 2 == 0:
  print('even')
else:
  print('odd')

Enter the number10
even

In [ ]:
n = int(input('Enter the number'))
if n % 5 == 0:
  print('divisible by 5')
else:
  print('not divisible by 5')

Enter the number22
not divisible by 5

In [ ]:
n = int(input('Enter the number'))
if n > 0:
  print('positive')
elif n < 0:
  print('negative')
elif n == 0:
  print('zero')

Enter the number0
zero

In [ ]:
0

0

In [ ]:
n = input('enter a number')
digits = len(n)
if digits == 1:
  print ('one digit')
elif digits == 2:
  print ('two-digit')
elif digits == 3
  print('three digits')
else:
  print('i dont know')

enter a number54
two-digit

In [ ]:
n = int(input('Enter the number'))
if n >= 0 and n <= 9:
  print('one digit')
elif n >= 10 and n <= 99:
  print('two-digit')
elif n >= 100 and n <= 999:
  print('three digit')

Enter the number785
three digit

In [ ]:
name = input('Enter the name')
age = int(input('Enter your age'))
cc = int(input('Enter your cc'))
city = input('Enter your city')

if name == 'sumit' or city != 'delhi' or age <= 18 or cc <= 700:
  print ('rejected')
else:
  salary = int(input('Enter your salary'))
  if salary > 100000:
    print('accepted')
  else:
    bb = int(input('Enter your bb'))
    if bb > 50000:
      print('accepted')
    else:
      print('rejected')

Enter the nameSumit
Enter your age54
Enter your cc1000
Enter your cityDelhi
Enter your salary100000
Enter your bb500000
accepted

In [ ]:
# HW

In [ ]:
# Read product code and order amount
product_code = int(input("Enter product code (1: Battery, 2: Key-based, 3: Electrical): "))
order_amount = float(input("Enter order amount (Rs): "))

# Set discount thresholds and rates
discount = 0
if product_code == 1 and order_amount > 1000:
    discount = 0.10
elif product_code == 2 and order_amount > 100:
    discount = 0.05
elif product_code == 3 and order_amount > 500:
    discount = 0.10

# Calculate net amount after discount
net_amount = order_amount * (1 - discount)

# Output result
print(f"Net amount to pay after discount: Rs {net_amount:.2f}")

Enter product code (1: Battery, 2: Key-based, 3: Electrical): 3
Enter order amount (Rs): 5
Net amount to pay after discount: Rs 5.00

In [ ]:
product_code = int(input('Enter product code: '))
order_amount = float(input('Enter order amount: '))

if product_code == 1 and order_amount > 1000:
  print(order_amount * (1 - 0.10))

elif product_code == 2 and order_amount > 100:
  print(order_amount * (1 - 0.05))

elif product_code == 3 and order_amount > 500:
  print(order_amount * (1 - 0.10))

Enter product code: 2
Enter order amount: 500
475.0