<a href="https://colab.research.google.com/github/gnrtd/PyPractice/blob/main/20July_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Loops

In [ ]:
for i in range(5):
  print(i)
  print('hi')
print('bye')

0
hi
1
hi
2
hi
3
hi
4
hi
bye

In [ ]:
a = '#'
for i in range(10):
  print(a)
  print(i)
print(i)

#
0
#
1
#
2
#
3
#
4
#
5
#
6
#
7
#
8
#
9
9

 Print First 10 natural numbers using while loop
 (o...to...10)

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

Calculate the sum of all numbers from 1 to a given number

In [ ]:
n = int(input('Enter the number '))
total = 0
for i in range(1,n+1):
  total = total + i
print(total)

Enter the number 6
21

Print list in reverse order using a loop

In [ ]:
L = ['a','b','c','d','e']
for i in range(len(L)-1,-1,-1):
  print(L[i])

e
d
c
b
a

In [ ]:
for i in L[::-1]:
  print(i)

e
d
c
b
a

Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# fibonacci

Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.
Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [ ]:
a = 0
b = 1
n = int(input('numbers of fibo series you want '))
print(f'f0: {a}')
print(f'f1: {b}')
for i in range(2,n):
  c = a + b
  print(f'f1{i}: {c}')
  a = b
  b = c

numbers of fibo series you want 10
f0: 0
f1: 1
f12: 1
f13: 2
f14: 3
f15: 5
f16: 8
f17: 13
f18: 21
f19: 34

In [ ]:
a = 0
b = 1
print(a)
print(b)
for i in range(20):
  c = a + b
  print(c)
  a = b
  b = c

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

In [ ]:
# table of
for i in range(1,11):
  print(2,'x',i,'=',2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
fact = 1
number = int(input('Enter the number'))
for i in range(1,number+1):
  fact = fact * i
print(f'the factorical of {number} is {fact}')

Enter the number10
the factorical of 10 is 3628800

In [ ]:
a = 5
for i in range(1,11):
  b = a * i
  print(f'{a} x {i} = {b}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for i in range(1,11):
  print(f'5 x {i} = {5 * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input('Enter a number to generate a table: '))
for i in range(1,11):
  print(f'{n} x {i} = {n * 1}')

Enter a number to generate a table: 7
7 x 1 = 7
7 x 2 = 7
7 x 3 = 7
7 x 4 = 7
7 x 5 = 7
7 x 6 = 7
7 x 7 = 7
7 x 8 = 7
7 x 9 = 7
7 x 10 = 7

In [ ]:
# put even and odd numbers in different lists from common list L
L = [2,54,5,16,51,656,6,5,65,10,84,655486,1,25,5,1,1,21]
o = []
e = []
for i in L:
  if i % 2 == 0:
    e.append(i)
  else:
    o.append(i)
print(o,e)

[5, 51, 5, 65, 1, 25, 5, 1, 1, 21] [2, 54, 16, 656, 6, 10, 84, 655486]